body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: black;
}

* {
    box-sizing: border-box;
}

/* general */
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
    color: #191919; 
}

h1,
h2, 
h3,
p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3 {
    font-family: 'TradeGothicW02BoldCn20', Impact, sans-serif; */
    font-size: 19pt;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    -webkit-font-smoothing: antialiased
}

h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #f9241a;
}

h2,
h3 {
    font-size: 22px;
}

/* header */
#masthead {
    position: fixed;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: white;
    background: #191919;
    border-bottom: 2px solid #ccc;
}

.container a {
    text-decoration: none;
    color: white;
}

nav {
    float: right;
    margin-top: 25px;
}

nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: white;
    text-decoration: none;
    border-left: 1px solid gray;
}

nav a: first-child {
    border-left: 0 none;
}

/* main */
#main-container {
    padding-top: 130px;
}

.main-section {
    float: left;
    width: 100%;
    max-width: 650px;
    padding: 30px;
    margin: 0 0 40px;
    background: #9c9c9c;
    border: 1px solid black;
}



/* sidebar */
.sidebar {
    float: right;
    width: 100%;
    max-width:270px;
    padding:30px;
    margin-bottom: 20px;
    background:  #9c9c9c;
    border: 1px solid black;
}

h3, .sidebar h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid  #f9241a;
}

.social {
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
}

/* portfolio page */
.work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
}

.work:nth-child(even) {
    margin-right: 40px;
}

.work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
}

.work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    text-align: center;
    background:#f9241a;
    border-bottom: 0;
    font-family: 'Roboto Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 11pt;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: #a9a9a9;
    line-height: 1.3;
    font-weight: 600;
}

.auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}

/* contact page */
#contact-form ul {
    margin-bottom: 20px;
}

#contact-form li {
    margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
    display: block;
    width: 100%;
}

input[type=text],
input[type=email],
textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #f9241a;
}

textarea {
    height: 200px;
}

input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    background: #f9241a;
    border: 0 none;
}


/* footer */
footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #f9241a;
    text-align: center;
    background: black;
    border-top: 8px solid red;
}